@charset "utf-8";

/* XEICON */
/* @import url('href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); */
/* FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
/* Font Do Hyeon */
@font-face{
    src: url(./font/Do_Hyeon/DoHyeon-Regular.ttf);
    font-family: "DoHyeon";
}    
/* Font Museum */
@font-face {
    src: url(./font/Museum_Classic/Museum_Classic_B.otf);
    font-family: "Museum_Classic_B";
}
@font-face {
    src: url(./font/Museum_Classic/Museum_Classic_L.otf);
    font-family: "Museum_Classic_L";
}
@font-face {
    src: url(./font/Museum_Classic/Museum_Classic_M.otf);
    font-family: "Museum_Classic_M";
}
/* Font Segoe */
@font-face {
    src: url(./font/segoe-ui-4-cufonfonts/Segoe\ UI.ttf);
    font-family: "Segoe";
}
@font-face {
    src: url(./font/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf);
    font-family: "Segoe B";
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
button,
input {
    outline: none;
}

/* Default CSS */
body {
    overflow-x: hidden;
}
/* ##################### Header ##################### */

header {
    border-bottom: 1px solid #ccc;
}
header .header_inner {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000; */
    align-items: center;
    position: relative;
    z-index: 1000;
}

.logo img {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 5px;
    /* border: 1px solid #000; */
}
.gnb {
    width: 50%;
    position: relative;
    font-family: "Museum_Classic_M";
    font-size: 18px;
}
/* .gnb::before {
    content: "";
    position: absolute;
    background-color: #C2B46B;
    width: 1200%;
    height: 400px;
    left: -800px;
    top: 100%;
    display: none;
} */
.gnb>ul {
    display: flex;
    justify-content: space-between;
}
.gnb>ul>li {
    text-align: center;
    width: 100%;
    position: relative;
    /* border: 1px solid #000; */
}
.gnb>ul>li>a {
    color: #777;
    display: block;
    padding: 36px 20px;
    transition: 0.3s;
}
.gnb>ul>li:hover>a {
    color: #000;
}
.gnb>ul>li:hover .dep2,
.gnb:hover::before,
.dep2>li:hover .dep3 {
    display: block;
}
.dep2 {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    font-size: 0.9em;
    /* border: 1px solid #000; */
}
.dep2::after {
    content: '';
    position: absolute;
    width: 1500%;
    height: 400px;
    background-color: rgba(0,0,0,0.6);
    top: 1px;
    left: -800px;
    z-index: -1;
}
.dep2>li:nth-of-type(1) {
    margin-top: 30px;
}
.dep2>li:hover>a,
.dep3>li:hover>a {
    color: #edc700;
}
.dep2>li>a, .dep3>li>a {
    display: block;
    padding: 15px 0;
    color: #fff;
    transition: 0.3s;
}
.dep2_title {
    position: absolute;
    top: 30px;
    left: -400px;
}
.dep2_title p {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 20px;
}
.dep2_title img {
    width: 315px;
}
.dep3 {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 100%;
    /* border: 1px solid #000; */
    display: none;
}
.dep3>li {
    width: 100%;
    margin-left: 50px;
}
.user a {
    margin-right: 15px;
    font-size: 1.5em;
    color: #777;
}
.user i {
    transition: 0.3s;
}
.user a:hover i {
    color: rgba(0,0,0,1);
}

/* ##################### main ##################### */
.main * {
    /* border: 1px solid red; */
}
.main {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.main>nav {
    background-color: #555;
}
.main>nav>div {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.main>nav>div>a {
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Segoe";
    transition: 0.3s;
} 
.main>nav>div>a>span {
    font-family: "Segoe B";
    color: #ccc;
}
.main>nav>div>a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.main>nav>div>a.on {
    color: #EDC700;
    font-weight: bold;
    background-color: rgba(0,0,0,0.4);
}
.main>nav>div>a.on span {
    color: #BEA836;
}
.main_cont {
    flex-grow: 1;
    font-family: "Segoe";
    height: calc(100% - 110px);
}
.main_cont > div {
    height: 100%;
    display: none;
}
.main_cont > div.on {
    display: flex;
}

/* ######## Seosomoon ####### */

.somoon_title {
    width: 40vw;
    min-width: 420px;
    position: relative;
}
.somoon_title::before {
    content: '';
    position: absolute;
    height: 13%;
    width: 14%;
    background: url('./images/main.svg') no-repeat center;
    background-size: cover;
    left: 40%;
    top: 15%;
}
.somoon_title::after {
    content: '';
    position: absolute;
    height: 13%;
    width: 14%;
    background: url('./images/main.svg') no-repeat center;
    background-size: cover;
    right: -3%;
    bottom: 15%;
    transform: rotate(180deg);
}
.somoon_title p {
    position: absolute;
    right: 120px;
    top: 43%;
    font-family: "DoHyeon";
    font-size: 24px;
    letter-spacing: 3px;
    color: #ccc;
}
.somoon_title p:nth-of-type(2) {
    top: 47%;
    right: 0px;
}
.somoon_title h2 {
    position: absolute;
    text-align: center;
    right: 80px;
    top: 35%;
    font-size: 3.2em;
    font-family: "Museum_Classic_L";
}
.somoon_title h2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #333;
    /* border: 1px solid #000; */
}
.somoon_title a {
    position: absolute;
    bottom: 35%;
    right: 120px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #EDC700;
    font-size: 14px;
    color: #fff;
    transition: 0.3s;
}
.somoon_title a:hover {
    bottom: 34%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.poster {
    width: 60vw;
    height: 100%;
    overflow: hidden;
    background-color: #D4D4FF;
}
.poster>ul {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    height: 100%;
    width: 100%;
}
.poster>ul>li {
    width: 100%;
}
.poster>ul>li:nth-of-type(1) {
    grid-row: 1/3;
    grid-column: 1/3;
    /* column-span: 1/3; */
    position: relative;
}
.poster>ul>li:nth-of-type(1) img {
    margin-top: 30px;
    margin-left: 30px;
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
}
.poster>ul>li:nth-of-type(2) {
    grid-row: 5/6;
    grid-column: 3/4;
    position: relative;
}
.poster>ul>li:nth-of-type(2) img {
    width: 80%;
    position: absolute;
    left: -40%;
    top: -30%;
}
.poster>ul>li:nth-of-type(3) {
    grid-row: 3/4;
    grid-column: 3/4;
    position: relative;
}
.poster>ul>li:nth-of-type(3) img {
    width: 80%;
    position: absolute;
    left: -40%;
    top: 20%;
}
.poster>ul>li:nth-of-type(4) {
    grid-row: 3/4;
    grid-column: 4/5;
    position: relative;
}
.poster>ul>li:nth-of-type(4) img {
    width: 80%;
    position: absolute;
    left: -50%;
    top: 20%;
    border: 1px solid #ccc;
}
.poster>ul>li:nth-of-type(5) {
    grid-row: 1/3;
    grid-column: 4/5;
    position: relative;
}
.poster>ul>li:nth-of-type(5) img {
    width: 147%;
    position: absolute;
    top: 0;
    left: 40%;
}



.poster>button {
    position: absolute;
    bottom: 10%;
    background-color: transparent;
    opacity: 0.2;
    border: none;
}
.poster .prev {
    width: 160px;
    right: 6%;
}
.poster .prev::before {
    content: 'PREV';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: "Segoe";
    font-size: 1.2em;
    font-weight: bold;
}
.poster .prev img {
    transform: rotate(180deg);
}
.poster .prev a {
    height: 100%;
}

.poster .next {
    width: 160px;
    bottom: 15%;
    right: 4%;
}

.poster .next::before {
    content: 'NEXT';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: "Segoe";
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
/* ##################### collect ##################### */
.collect {
    max-width: 1500px;
    margin: auto;
    height: 75vh;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
}
.coll_title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
}
.coll_title p {
    position: absolute;
    font-family: "DoHyeon";
    color: #ccc;
    letter-spacing: 5px;
    top: -25px;
    left: 51%;
    transform: translateX(-51%);
}
.coll_title h3 {
    font-family: "Museum_Classic_L";
    font-size: 2.5em;
    letter-spacing: 3px;
}
.coll_title h3::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
}
.coll_title h3::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
    top: 50%;
    right: -30%;
    transform: translateY(-50%);
}
.coll_list {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.coll_list>ul{
    display: flex;
    justify-content: space-between;
}
.coll_list>ul>li {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.coll_list>ul>li:nth-of-type(1) {
    display: block;
    width: 380px;
    height: 540px;
    background: url(./images/collect1.jpg) center center;
    background-size: cover;
}
.coll_list>ul>li:nth-of-type(2) {
    display: block;
    width: 380px;
    height: 540px;
    background: url(./images/collect2.jpg) center center;
    background-size: cover;
}
.coll_list>ul>li:nth-of-type(3) {
    display: block;
    width: 380px;
    height: 540px;
    background: url(./images/collect3.jpg) center center;
    background-size: cover;
}
.coll_list>ul>li>div {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    height: 40%;
    padding: 15px;
    font-family: "Segoe";
}
.coll_list>ul>li>div>h4 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1.5em;
    color: #2b2b86;
    font-family: "Museum_Classic_L";
}
.coll_list>ul>li:nth-of-type(2)>div h4 {
    color: #972666;
}
.coll_list>ul>li:nth-of-type(3)>div h4 {
    color: #1F6716;
}
.coll_list>ul>li>div>p:nth-of-type(2) {
    font-size: 14px;
}
.coll_list>ul>li>div>a {
    position: absolute;
    left: 40px;
    bottom: 15px;
    font-size: 14px;
}
.coll_list>ul>li>div>a::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #000;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

/* ##################### board ##################### */
.board {
    width: 100%;
    height: 60vh;
    background: url(./images/board_bg.png) center center no-repeat;
    background-size: cover;
    font-family: "Segoe";
    position: relative;
}
.board_inner {
    padding-top: 40px;
    display: flex;
    max-width: 1500px;
    margin: auto;
    color: #000;
    font-weight: bold;
    font-weight: normal;
}
.left {
    display: flex;;
    width: 640px;
    height: 500px;
    color: #fff;
    background-color: #BB9D00;
}
.left .left_title {
    width: 40%;
    padding: 50px;
    position: relative;
    border-right: 1px solid #fff;
}
.left_title>h5 {
    font-size: 1.5em;
}
.left_title>p {
}
.left_title>a {
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 5px 15px;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
}
.left_title>a:hover {
    background-color: rgba(0,0,0,0.1);
}
.left .left_board {
    width: 60%;
    padding: 35px 25px 50px 20px;
}
.left .left_board h6 {
    font-size: 1.2em;
    padding-bottom: 10px;
}
.left .left_board>a:nth-of-type(2)>h6,
.left .left_board>a:nth-of-type(3)>h6 {
    padding-top: 15px;
}
.left .left_board p span {
    display: flex;
    justify-content: end;
}
.left .left_board>a {
    color: #fff;
}
.right {
    width: calc(100% - 640px);
}
.right .right_top {
    background-color: #bbb;
    margin-left: 10px;
    width: calc(100% - 10px);
    height: calc(55% - 10px);
    display: flex;
}
.right_top_img {
    width: 40%;
}
.right_top_img img {
    width: 100%;
}
.right_top_title {
    width: 60%;
    position: relative;
    padding: 30px 50px;
    color: #fff;
}
.right_top_title>a {
    position: absolute;
    bottom: 30px;
    right: 50px;
    padding: 5px 15px;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
}
.right_top_title>a:hover {
    background-color: rgba(0,0,0,0.1);
}
.right_top_title h5 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.right_bottom {
    background-color: #bbb;
    margin-left: 10px;
    margin-top: 10px;
    width: calc(100% - 10px);
    height: calc(47% - 10px);
    display: flex;
    justify-content: space-between;
}
.right_bottom_title {
    width: 55%;
    position: relative;
    padding: 30px 50px;
    color: #fff;
}

.right_bottom_title h5 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.right_bottom_title>a {
    position: absolute;
    bottom: 30px;
    right: 50px;
    padding: 5px 15px;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
}
.right_bottom_title>a:hover {
    background-color: rgba(0,0,0,0.1);
}
.right_bottom_img {
    width: 45%;
    padding-top: 30px;
    position: relative;
}
.right_bottom_img img {
    position: relative;
    left: 5px;
    bottom: -15px;
    width: 85%;
}

/* ##################### footer ##################### */
footer {
    background-color: #555;
    height: 18vh;
}
.foot_inner {
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    color: #fff;
    font-size: 0.9em;
}
.foot_logo>a {
    display: block;
    text-align: right;
}
.foot_logo>a:nth-of-type(1) img {
    height: 90px;
}
.foot_logo>a:nth-of-type(2) img {
}
.copy {
    width: 40%;
}
.copy>.copy_info {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.copy>.copy_info>a {
    color: #fff;
    font-size: 1em;
}
.address {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    border-top: 1px solid #fff;
}
.address address{
    font-style: normal;
}
.address p {
    display: inline-block;
}
.address p:nth-of-type(2) {
    margin-left: 20px;
}
.address span {
    margin-top: 5px;
    display: block;
}
.foot_icon {
    width: 20%;
}
.sns_set {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
.sns_set img {
    width: 30px;
}
.mark {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.mark img {
    height: 70px;
}

